---
interface Props {
  currentPage: number;
  lastPage: number;
  firstPageURL: string;
  prevURL: string;
  nextURL: string;
  extraPagination: boolean;
}

const {
  currentPage,
  lastPage,
  firstPageURL,
  prevURL,
  nextURL,
  extraPagination,
} = Astro.props;
const prevUrl = currentPage == 2 ? firstPageURL : prevURL;
const hasPrev = currentPage > 1;
const hasNext = currentPage < lastPage;
---

<div class:list={["pagination-box", { "extra-pagination": extraPagination }]}>
  {
    hasPrev && (
      <a class="pagination-btn pagination-left" href={prevUrl}>
        <i class="icon-arrow icon-arrow-left" />
        <span id="pagination-prev-btn-content" class="pagination-label">
          Newer Posts
        </span>
      </a>
    )
  }
  <span class="pagination-info">Page {currentPage} of {lastPage}</span>
  {
    hasNext && (
      <a class="pagination-btn pagination-right" href={nextURL}>
        <span id="pagination-next-btn-content" class="pagination-label">
          Older Posts
        </span>
        <i class="icon-arrow icon-arrow-right" />
      </a>
    )
  }
</div>
<style>
  .pagination-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(1.25rem + 1vw) 0;
    color: var(--color-content-secondary);
  }
  .pagination-btn {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-background-contrast);
    border-radius: 4rem;
    margin: 0;
    padding: 0 1rem;
    height: 2.5rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-content-secondary);
    transition: all 0.2s linear 0s;
    cursor: pointer;
  }
  .pagination-btn:hover {
    border: 1px solid var(--color-accent);
    color: var(--color-content-lead);
  }
  .pagination-left {
    margin-right: auto;
  }
  .pagination-right {
    margin-left: auto;
  }
  .pagination-info {
    position: absolute;
    margin: auto;
    font-size: 0.9rem;
    font-weight: 300;
  }
  .pagination-label {
    margin: 0 0.25rem;
  }
  .icon-arrow {
    margin: 0 0.25rem;
    font-size: 1.3rem;
  }
  .icon-arrow::before {
    position: relative;
    width: auto;
    margin: auto;
  }
  .icon-arrow-left::before {
    content: "\e803";
  }
  .icon-arrow-right::before {
    content: "\e804";
  }
  .extra-pagination {
    border-bottom: 1px solid var(--color-background-contrast);
  }
  @media screen and (max-width: 640px) {
    #pagination-prev-btn-content {
      display: none;
    }
    #pagination-next-btn-content {
      display: none;
    }
  }
</style>
