---
import TagBox from "@/components/TagBox.astro";
import { sortTag } from "@/lib/sort";
import { tagConfig } from "@/config";
import { countItems } from "@/lib/tagHelper";
const allPosts = await Astro.glob("/src/posts/**/*.md");
const allTags = allPosts
  .map((post) => post.frontmatter.tags)
  .flat() as string[];
const tagObjList = countItems(allTags);
const sortedTagObjList = sortTag(tagObjList);
---

<main>
  <article>
    <div class="content tag-box-wrapper">
      {
        sortedTagObjList.map((tag) => (
          <TagBox
            href={tagConfig[tag.key]?.url ?? tag.key}
            name={tag.key}
            postCount={tag.value}
          />
        ))
      }
    </div>
  </article>
</main>

<style>
  .tag-box-wrapper {
    padding: calc(0.05rem + 2vw) 0;
  }
</style>
